html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}

a, a:link, a:visited {
  @apply text-red-500;
  text-decoration: none;
}

p {
  @apply text-2xl;
}

hr {
  @apply m-8 ml-0 h-3 bg-red text-center border-0;
  transform: skew(-20deg);
}

.quotes {
  @apply italic
}
