html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #303030;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}

a, a:link, a:visited {
  @apply text-red-500;
  text-decoration: none;
}

p {
  @apply text-2xl;
}

hr {
  @apply m-8 ml-0 h-3 bg-red text-center border-0;
  transform: skew(-20deg);
}

.quotes {
  @apply italic
}

.with-slider {
  @apply bg-blue text-white;
  padding: 30px 0;
  margin: 50px 0;

  > div {
    @apply w-9/12;
  }
}

@media (max-width: 900px) {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-lg;
  }
  hr {
    @apply m-2 ml-0 h-2;
  }
  .quotes {
    @apply text-sm;
    > p {
      @apply text-sm;
    }
  }
}
